form(method='POST' action='/producto')
	button.btn.btn-primary(type='submit') Agregar nuevo Producto

table.table
	thead
		tr
			th ID
			th Nombre
			th Descripcion
			th Precio
	tbody
		for item in data
			tr
				td= item._id
				td= item.nombre
				td= item.descripcion
				td= item.precio