extends layout

block content
  h1= 'Gracias por querer contactarnos'
  p Lo estaremos esperando en la reservacion
  p Para mas informacion ingrese a
  a(href="https://github.com/YurandCL/Dawa/tree/master/restaurant") Codigo fuente Libre