extends layout

block content
  h1= 'La Fonda de Doña Florinda'
  p Gracias por reservar en la fonda
  p si desea regresar presione aqui:
  button(onclick="location.href='http://localhost:3000/'") Regresar