body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img{
	width: 500px;
	height: 500px;
	align-content: center;
}

#contacto{
	position: absolute;
	right: 100px;
	top: 100px;
}
#reserva{
	position: absolute;
	right: 100px;
	top: 110px;
}